<div>
    <hr>
    <div class="row" style="width: 100%;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; padding-left: 60px;">
            <p class="copyright-text">Copyright © 2020 - <a
                    href="https://www.linkedin.com/in/sakshi-choudhary-27665117a/">Sakshi2k</a></p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 icon-bar2" style="text-align: center;">
            <ul>
                <a href="https://wa.me/9999820678?text=Hey, Sakshi!" class="fa2-whatsapp"><i
                        class="fa fa-whatsapp"></i></a>
                <a href="https://www.linkedin.com/in/sakshi-choudhary-27665117a/" class="fa2-linkedin"><i
                        class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Sakshi2k/" class=" fa2-github"><i class="fa fa-github"></i></a>
                <a href="mailto:csakshi3006@gmail.com" class="fa2-msg" target="_blank"><i
                        class="fa fa-paper-plane-o"></i></a>
                <a href="https://www.behance.net/sakshichoudhary2" class="fa2-behance"><i class="fa fa-behance"></i></a>
            </ul>
        </div>
    </div>
    <br />
    <script src="js/theme.js"></script>
</div>