<header class="header_area navbar_fixed" id="navbar-header">
  <nav class="navbar navbar-expand-sm navbar-light" id="navbar-example2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarText">
    <li class="navbar-brand" style="color: rgb(94, 94, 94); margin-left: 11rem;">Sakshi Choudhary______</li>
    <ul class="navbar-nav nav-pills ml-auto p-3">
        <li class="nav-item">
          <a class="nav-link" id="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link" href="#aboutStart">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link" href="/projects">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link" href="/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <!-- Omlet toggle -->
    <div id="animationWindow"></div>
  </nav>
</header>