<header class="header_area navbar_fixed" id="navbar-header">
  <nav class="navbar navbar-expand-sm navbar-light" id="navbar-example2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
              data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav nav-pills ml-auto p-2">
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="/#aboutStart">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="/projects">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="/resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="/contact">Contact</a>
          </li>    
        </ul>  
      </div>
      <ul class="navbar-nav ml-auto p-2" style="position: fixed; right: 20px; top: px;">
        <li class="nav-item" style="margin-right: 30px;">
            <img src="imgs/mode.png" alt="DarkMode"
            width="20px" height="20px" style="cursor: pointer;" onclick="retheme()"/>
        </li>                
      </ul>
      
    </nav>
                    
</header>