<div class="icon-bar">
    <a href="https://wa.me/9999820678?text=Hey, Sakshi!" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
    <a href="https://www.linkedin.com/in/sakshi-choudhary-27665117a/" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/Sakshi2k/" class="github"><i class="fa fa-github"></i></a>
    <a href="https://www.behance.net/sakshichoudhary2" class="behance"><i class="fa fa-behance" ></i></a>
    <a href="https://www.facebook.com/sakshi.choudhary.35" class="facebook"><i class="fa fa-facebook"></i></a>
</div>