<div class="icon-bar">
        <a href="https://wa.me/9999820678?text=Hey, Sakshi!" class="fa1-whatsapp" target="_blank"><i
                        class="fa fa-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/sakshi-choudhary-27665117a/" class="fa1-linkedin" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Sakshi2k/" class="fa1-github" target="_blank"><i class="fa fa-github"></i></a>
        <a href="mailto:csakshi3006@gmail.com" class="fa1-msg" target="_blank"><i class="fa fa-paper-plane-o"></i></a>
        <a href="https://www.behance.net/sakshichoudhary2" class=" fa1-behance" target="_blank"><i
                        class="fa fa-behance"></i></a>
</div>