<%- include('partials/header') -%>

<%- include('partials/navbar') -%>
<body style="background-image: url('../imgs/rightBG.png');">
    <img src="imgs/Tag.png" id="tag">
    <div class="container">
        <h1 class="page-title">Contact Me</h1>
    </div>
</body>