<%- include('partials/header') -%>

<body>
    <!-- Main Viewport -->
    <!-- <div class=""> -->
      <div class="row">
        <div class="view-area col-md-12 col-md-12 col-sm-12">
          <%- include('partials/navbar') -%>
              <button class="btn btn-secondary">Resume</button>
          <%- include('partials/social-icons'); -%>
        </div>
      </div>
    <!-- </div> -->
    <!-- End of main -->

    <!-- Skills section -->
    <div class="skill-section container">
      <h1 id="about" style="text-align: center;">Why You Hire Me!</h1><br/>
      <div class="row">
      <div class="aboutMeImg col-xl-5 col-lg-5 col-md-12">
        <img src="imgs/aboutMe.jpg" id="aboutMeImg">
        <p id="description">I am currently pursuing engineering whilst being a FullStack Web Developer, specialised in HTML/CSS/JS and (MongoDB Express React NodeJS), a Freelancer and a Machine Learning reseacher. I also have interests in programming and I have working knowledge of Data structures & Algorithms and OOPs concepts. I try to give my best in whatever I do . I am quick and a patient learner.</p>       
      </div>
  
      <div class="col-xl-1 col-lg-1 col-md-0">  </div>
  
      <div class="bars col-xl-5 col-lg-5 col-md-12">
        
        <!-- Progress Bars -->
        HTML / CSS / Bootstrap
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="20%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        JavaScript
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        NodeJS
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        MongoDB
          <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        GITHUB
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        ReactJS
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

    </div>
    </div>
    <!-- End of skills section -->
</body>
</html>