<%- include('partials/header') -%>
<link rel="stylesheet" href="css/projects.css">

<%- include('partials/navbar') -%>


<body>
    <img src="imgs/Tag.png" id="tag">
    <div class="container">
        <h1 class="page-title">My Projects</h1>
        <div class="container">
            <!-- <h5 class="page-title">Intermediate Projects</h5> -->
            <div class="row" style="margin-top: 20pt;">
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/GithubFinder.png" alt="Project">
                    <h5 class="card-title">Developers Finder</h5>
                    <p class="card-text">You can search for Developers from Github Platform. Developers can connect with each other as well.</p>
                    <!-- <p class="card-text">You can search for Developers from Github Platform.</p> -->
                    <a href="https://find-developers.netlify.app/" class="btn btn-primary" target="_blank">Preview
                        App</a>
                    <a href="https://github.com/Sakshi2k/GH-finder" target="_blank"><i class="fa fa-github"
                            id="to-github"></i></a>
                </div>
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/Upick.png" alt="Project">
                    <h5 class="card-title">Upick</h5>
                    <p class="card-text">A smart local e-commerce website application that I contributed in
                        developing with my team. </p>
                    <a href="https://upick.co.in/" class="btn btn-primary" target="_blank">Preview App</a>
                </div>
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/map-app.PNG" alt="Project">
                    <h5 class="card-title">Map Manager Application</h5>
                    <p class="card-text">An admin dashboard to easily manage & setup maps in CSGO servers. The admins will be presented with list of maps already in the servers to edit & can add new maps by searching the steam workshop.</p>
                </div>
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/InvoiceManager.png" alt="Project">
                    <h5 class="card-title">Currency Converter cum Invoice Manager</h5>
                    <p class="card-text">Currency converter and Invoice Manager to keep record of clients and
                        invoices.</p>
                    <a href="https://invoicemanager-and-converter.herokuapp.com/" class="btn btn-primary disabled" target="_blank">Preview App</a>
                    <a href="https://github.com/Sakshi2k/Currency-Converter-cum-Invoice-Manager" target="_blank"><i
                            class="fa fa-github" id="to-github"></i></a>
                </div>
            </div>
            <br>
        </div>
        <%- include('partials/footer') -%>
</body>

</html>