<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<!-- <body style="background-image: url('../imgs/rightBG.png');"> -->
    <body>
    <img src="imgs/Tag.png" id="tag">   
    <div class="container">
        <h1 class="page-title">My Projects</h1>

        <%- include('partials/social-icons'); -%>
        <div class="container">
        <div class="row" style=" margin-top: 20pt;">
            
            <div class="col-lg-4 col-sm-6">
                    <img class="card-img-top" src="imgs/projects/StayInTouch.png" alt="Project">
                    <div class="">
                    <h5 class="card-title">StayInTouch</h5>
                    <p class="card-text">A Newsletter-Signup cum personal message app to stay in touch with friends and family</p>
                    <a href="https://infinite-wildwood-17047.herokuapp.com/" class="btn btn-primary" id="to-app">Preview App</a>
                    <a href="https://github.com/Sakshi2k/Newsletter-signup-cum-personal-message-app"><i class="fa fa-github" id="to-github"></i></a>
                    </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <img class="card-img-top" src="imgs/projects/" alt="Project">
                <div class="">
                <h5 class="card-title">StayInTouch</h5>
                <p class="card-text">A Newsletter-Signup cum personal message app to stay in touch with friends and family</p>
                <a href="" class="btn btn-primary">Preview</a>
                <a href=""><i class="fa fa-github" id="to-github"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <img class="card-img-top" src="imgs/projects/" alt="Project">
                <div class="">
                <h5 class="card-title">StayInTouch</h5>
                <p class="card-text">A Newsletter-Signup cum personal message app to stay in touch with friends and family</p>
                <a href="" class="btn btn-primary">Preview</a>
                <a href=""><i class="fa fa-github" id="to-github"></i></a>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>