<%- include('partials/header') -%>
<link rel="stylesheet" href="css/projects.css">

<%- include('partials/navbar') -%>


<body>
    <img src="imgs/Tag.png" id="tag">
    <div class="container">
        <h1 class="page-title">My Projects</h1>
        <div class="container">
            <h5 class="page-title">Intermediate Projects</h5>
            <div class="row" style="margin-top: 20pt;">
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/GithubFinder.png" alt="Project">
                    <h5 class="card-title">Developers Finder</h5>
                    <!-- <p class="card-text">You can search for Developers from Github Platform. Developers can connect with each other as well.</p> -->
                    <p class="card-text">You can search for Developers from Github Platform.</p>
                    <a href="https://find-developers.netlify.app/" class="btn btn-primary" target="_blank">Preview
                        App</a>
                    <a href="https://github.com/Sakshi2k/GH-finder" target="_blank"><i class="fa fa-github"
                            id="to-github"></i></a>
                </div>
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/Upick.png" alt="Project">
                    <h5 class="card-title">Upick</h5>
                    <p class="card-text">A smart local e-commerce website application that I contributed in
                        developing with my team. </p>
                    <a href="https://upick.co.in/" class="btn btn-primary" target="_blank">Preview App</a>
                    <a href=""><i class="fa fa-github disabled" id="to-github"></i></a>
                </div>
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/InvoiceManager.png" alt="Project">
                    <h5 class="card-title">Currency Converter cum Invoice Manager</h5>
                    <p class="card-text">Currency converter and Invoice Manager to keep record of clients and
                        invoices.</p>
                    <a href="https://invoicemanager-and-converter.herokuapp.com/" class="btn btn-primary"
                        target="_blank">Preview App</a>
                    <a href="https://github.com/Sakshi2k/Currency-Converter-cum-Invoice-Manager" target="_blank"><i
                            class="fa fa-github" id="to-github"></i></a>
                </div>
            </div>
            <h5 class="page-title">Beginner Projects</h5>
            <div class="row" style=" margin-top: 15pt;">
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/ChoresManager.png" alt="Project">
                    <h5 class="card-title">Chores Manager</h5>
                    <p class="card-text">Application to help you manage and systematically organize multiple lists of
                        chores catagorically. </p>
                    <a href="" class="btn btn-primary disabled" target="_blank">Preview App</a>
                    <a href="https://github.com/Sakshi2k/TodoList-App" target="_blank"><i class="fa fa-github"
                            id="to-github"></i></a>
                </div>
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/BreakingBad.PNG" alt="Project">
                    <h5 class="card-title">Breaking Bad Quote Generator</h5>
                    <p class="card-text">Fun application generates famous quotes of the famous show. </p>
                    <a href="https://breaking-bad-quotes-06.herokuapp.com/page/dashboard" class="btn btn-primary"
                        target="_blank">Preview App</a>
                    <a href="" target="_blank"><i class="fa fa-github" id="to-github"></i></a>
                </div>
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/StayInTouch.png" alt="Project">
                    <h5 class="card-title">StayInTouch</h5>
                    <p class="card-text">A Newsletter-Signup cum personal message app to stay in touch with
                        friends and family.</p>
                    <a href="https://infinite-wildwood-17047.herokuapp.com/" class="btn btn-primary" id="to-app"
                        target="_blank">Preview App</a>
                    <a href="https://github.com/Sakshi2k/Newsletter-signup-cum-personal-message-app" target="_blank"><i
                            class="fa fa-github" id="to-github"></i></a>
                </div>
            </div>
            <div class="row" style="margin-top: 15pt;">
                <div class="col-lg-4 project">
                    <img class="card-img-top" src="imgs/projects/MemoryGame.png" alt="Project">
                    <h5 class="card-title">Memory Game</h5>
                    <p class="card-text">A simple memory game to improve concentration &
                        train visual memory using plain javascript and jquery.</p>
                    <a href="" class="btn btn-primary disabled" target="_blank">Preview App</a>
                    <a href="https://github.com/Sakshi2k/Memory-Game" target="_blank"><i class="fa fa-github"
                            id="to-github"></i></a>
                    <!-- Upcoming Projects --->
                </div>
            </div>

        </div>
        <%- include('partials/footer') -%>
</body>
<script>
    retheme();
</script>
</html>