<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<body>
    <img src="imgs/Tag.png" id="tag">
    <div class="container" height="500px">
        <h1 class="page-title">Resume</h1>

        <!-- <embed src="Sakshi's Resume.pdf" style="margin-left: 20%;" width="700px" height="1000px"/> -->
        <object data="Resume_latest.pdf" type="application/pdf" width="100%" height="1000">
            <p>Your web browser doesn't have a PDF plugin.
            Instead you can <a href="Resume_latest.pdf">click here to
            download the PDF file.</a></p>
          </object>
    </div>
</body>