<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<body>
    <img src="imgs/Tag.png" id="tag">
    <div class="container">
        <h1 class="page-title">Resume</h1>

        <embed src="Sakshi's Resume.pdf" style="margin-left: 20%;" width="700px" height="1000px"/>
    </div>
</body>