<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<body class="view-area3">
    <img src="imgs/Tag.png" id="tag">
    <div class="container" style="margin-top: -30pt;">
        <h1 class="page-title">Resume</h1>
        <center><a href="Resume.pdf" download="Sakshi's Resume" style="font-weight: bold;color: black;">DOWNLOAD</a></center>
        <center><img src="Resume.png" alt="Resume" width="70%"></center>
    </div>
</body>
<%- include('partials/footer') -%>
<script>
    $("#darkModeBtn").css("display","none");
    retheme();
</script>