<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<body class="" style="width: 100%;">
    <img src="imgs/Tag.png" id="tag">
    <center>
    <div class="container" style="margin-top: -30pt;">
        <h1 class="page-title">Resume</h1>
        <iframe src="https://drive.google.com/file/d/1Ji6pY06c6S0PuWAoNXXbYmfVcXz59grQ/preview" width="640" height="480"></iframe>
        <!-- <a href="Resume.pdf" download="Sakshi's Resume" style="font-weight: bold;color: black;">DOWNLOAD</a></center>
        <center><img src="Resume.png" alt="Resume" width="70%"></center> -->
    </div>
    </center>
</body>
<%- include('partials/footer') -%>
<script>
    $("#darkModeBtn").css("display","none");
</script>