#contactIcon {
  padding-left: 20pt;
}

#successMsg {
  color: red;
  margin-left: 50pt;
  font-size: larger;
}

.form-control {
  width: 60%;
  margin-bottom: 10pt;
}

.input-group {
  width: 60%;
  margin-bottom: 10pt;
}

.inputForm {
  margin-left: 50pt;
}

.btn-submit {
  margin-left: -1pt;
}
.contact-footer {
  margin-top: -65pt;
}

@media only screen and (max-width: 700px) {
  .contact-footer {
    margin-top: 0pt;
  }
}