#contactIcon {
    padding-left: 20pt;
}

#successMsg {
    color: red;
    margin-left: 50pt;
    font-size: larger;
}

.form-control  {
    width: 60%;
    margin-bottom: 10pt;
}  

.inputForm {
    margin-left: 50pt;
}

.btn-submit{
    margin-left: -1pt;
}