.navbar {
    margin-right: 130px;
    padding-top: 20pt;
}

.nav-item{
    margin-right: 24px;
    font-size: larger;
}

.sticky {
    position: fixed;
    top: 0;
    margin-top: -20px;
    z-index: 2;
    padding-bottom: 5px;
    background-color: white;
    width: 100%;
  }

/* .navbar-light .navbar-nav .nav-link{
    color: rgb(255, 255, 255, 1);
} */