.navbar {
    margin-right: 130px;
    padding-top: 10pt;
}

.nav-item{
    margin-right: 24px;
    font-size: larger;
    font-weight: 500;
}

.sticky {
    position: fixed;
    top: 0;
    margin-top: -20px;
    z-index: 2;
    padding-bottom: 5px;
    padding-top: 10pt;
    background-color: #ffffff69;
    width: 100%;
  }