.card-title {
    font-size: 20pt;
    color: rgb(20, 91, 94);
    padding-top: 10px;
    text-align: center;
}

.card-text{
    font-size: 12pt;
}

.project {
    transition: transform .3s;
}

.project:hover{
    transform: scale(1.2);
    background-color: white;
    border-radius: 2%;
    box-shadow:0 100px 80px rgba(0, 0, 0, 0.62);
    padding: 10px;
    z-index: 20;
}

#to-github{
    font-size: 25pt;
    padding-left: 20px;
    color: rgb(71, 71, 71);
}

#to-app {
    margin-top: -10px;
}

@media only screen and (max-width: 992px) {   
    .card-img-top {
        width: 70%;
        margin-left: 18%;
        margin-top: 40pt;
    }

    .project:hover{
        transform: scale(1.05);
    }
}
