body{
    /* background-color: rgb(153, 22, 22) */
}

.view-area1, .view-area2{
    background-image: url('../imgs/bg-img.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    height: 600px;
    margin-bottom: 60pt;
} 

#meImg{
    margin-top: 13%;
    margin-left: 10%;
}

.mainText {
    padding-top: 20pt;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: rgb(73, 73, 73);
    padding : 20px 10px;
}

.carousel-control-prev-icon{
    /* padding-left: -25px; */
    margin-left: 60px;
}

.carousel-control-next-icon{
    padding-right: -25px;
}

/* Skill-section */

.skill-section {
    margin-top: 10pt;
}

#aboutMeImg{
    margin: 20px 10px;
    width: 360px;
    height: 220px;
}

#aboutHeading, #achievmentsHeading{
    color: rgb(17, 30, 65);
}

#name-div{
    margin-top: 55pt;
    margin-left: 120pt;
}

#hi-msg {
    font-family: Calibri;
    line-height: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: -24px;
    /* margin-left: -8px; */
    color: #6D6D6D;
}

#name-text {
    font-family: myriad-pro, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #0D8CA0;
    font-style: normal;
    margin : -5px 0px;
    margin-left: -2px;
}

#myImg {
    margin-top: 10%;
    margin-right: 4%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#about-text {
    width: 420px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #707070;
    margin-top: 24pt;
    margin-left: 120pt;
}

.btn-secondary{
    margin-top: 8px;
    margin-left: 160px;
    background-color: #0DA08A;
    background-color: #0D8CA0;
    border: none;
}

#description{
    margin-top: -10px;
    font-size: 17px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.bars{
    margin-top: 25pt;
}

.progress{
    margin: 10px;
    width: 105%;
    height: 22px;
    background-color: rgb(218, 214, 214);
}

.progress-bar{
    margin: 4px;
    margin-left: 6px;
    border-radius: 2%;    
    background-color : #0EA698;
}

/* Project section */
/* .achievmentsSection {
    background-image: url("https://images.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.achImg {
    border-radius: 2%;
}

.card-item {
    padding: 15px;
}

.card-title {
    font-size: 18px;
}

#achLinks {
    text-decoration: none;
}
/* animated bar css */
/* .spinner-border {
    border-width: .2em;
} */


@media only screen and (max-width: 992px) {
    #name-div{
        margin-top: 20pt;
        margin-left: 6%;
        text-align: center;
    }

    #about-text {
        text-align: center;
        margin-left: 10%;
        font-size: 20px;
        width: 380px;
        padding: 0px;
    }

    .icon-bar { 
        display: none;
    }

    .imgDiv {
        padding: 0px;
    }

    #meImg {
        /* margin-left: 35%; */
        margin-top: 3pt;
    }
    
    .btn-secondary {
        text-align: center;
        margin-left: 35%;
    }

    .mainText{
        margin: 0px;
    }
    
}

@media only screen and (max-width: 700px) {

    #hi-msg, #name-text{
        text-align: center;
    } 
    
    .icon-bar { 
        display: none;
    }

    .imgDiv {
        padding: 0px;
    }

    #meImg {
        margin-left: 28%;
        margin-top: 10pt;
    }
    
    .btn-secondary {
        text-align: center;
        margin-left: 35%;
    }
}

@media (max-width: 575.98px) { 
    #about-text {
        text-align: center;
        font-size: 18px;
        width: 80%;
        /* padding: 0px; */
    }
    .btn-secondary {
        text-align: center;
        margin-left: 40%;
        margin-bottom: 10px;
    }
}