body {
    background-color: white;
}

.view-area1, .view-area2{
    background-image: url('../imgs/rightBG.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    height: 600px;
    margin-bottom: 60pt;
} 

.view-area3 {
    background-image: url('../imgs/rightBG2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px; 
}

#meImg1{
    margin-top: 13%;
    margin-left: 20px;
}
#meImg2{
    margin-top: 10%;
    margin-left: 20pt;
    padding-top: 10pt;
}

.mainText {
    padding-top: 20pt;
}

.carousel-control-prev, 
.carousel-control-next {
    margin-top: 320px;
    width: 5px;
    height: 5px;
}

.carousel-control-prev {
    padding-left: 70px;
}

.carousel-control-next {
    padding-right: 70px;    
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: rgb(73, 73, 73);
    padding : 18px 16px;
    opacity: 40%;
    border-radius: 3px;
}

/* Skill-section */

.skill-section {
    margin-top: -50pt;
}

#aboutMeImg{
    margin: 20px 10px;
    width: 360px;
    height: 220px;
}

#name-div{
    margin-top: 55pt;
    margin-left: 120pt;
}

#hi-msg {
    font-family: Calibri;
    line-height: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: -24px;
    margin-left: 20pt;
    color: #6D6D6D;
}

#name-text {
    font-family: myriad-pro, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #0D8CA0;
    padding-left: 20pt;
    font-style: normal;
    margin : -5px 0px;
}

#name-div-inner {
    padding-top: 10px;
}

#myImg {
    margin-top: 10%;
    margin-right: 4%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#about-text {
    width: 420px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #707070;
    margin-top: 24pt;
    margin-left: 140pt;
}

.btn-secondary{
    margin-top: 8px;
    margin-left: 185px;
    background-color: #0D8CA0;
    border: none;
}

#description{
    margin-top: -10px;
    font-size: 17px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.bars{
    margin-top: 25pt;
}

.progress{
    margin: 10px;
    width: 105%;
    height: 22px;
}

.progress-bar{
    margin: 4px;
    margin-left: 6px;
    border-radius: 3%;
    background-color: #0d8699;
}

.achImg {                            /* achievements' section imgs */
    border-radius: 2%;
}

.card-item {
    padding: 15px;
}

/* When col-lg-4 */
/* .card-img {
    margin: 26pt 0px;
}

.card-imgg {
    margin: 16pt 0px;
} */

.card-title {
    font-size: 18px;
}

#achLinks {
    text-decoration: none;
}

.scrollToTop {
    opacity: 0;
    position:fixed;
    padding:10px; 
    bottom: 25px;
    right: 25px; 
    text-align: center;
    border: none;
}

/* scrollToTop Animation */

.fadeIn {
    opacity: 0;
    color: white;
}

.fadeOut {
    opacity: 1;
    background-color: rgb(139, 139, 139);
    color: black;
}

/* Customized Styling on the basis of Screen width */

@media only screen and (max-width: 992px) {
    #name-div{
        margin-top: 20pt;
        margin-left: 6%;
        text-align: center;
    }

    #about-text {
        text-align: center;
        margin-left: 10%;
        margin-top: 6pt;
        font-size: 20px;
        width: 380px;
        padding: 0px;
    }

    .icon-bar { 
        display: none;
    }

    .icon-bar3 { 
        display: inline;
    }

    .imgDiv {
        margin-left: 2%;
    }

    #meImg1, #meImg2 {
        margin-top: 3pt;
    }
    
    .btn-secondary {
        text-align: center;
        margin-left: 35%;
    }

    .mainText{
        margin: 0px;
    }

    .card-item {
        width: 60%;
        text-align: center;
        justify-items: center;
    }
    .card-img-top {
        margin-left: 35%;
    }
    .card-title {
        font-size: smaller;
        text-align: center;
    }

}

@media only screen and (max-width: 700px) {

    #hi-msg, #name-text{
        text-align: center;
    } 

    .icon-bar { 
        display: none;
    } 

    .imgDiv {
        padding: 0px;
    }

    #meImg1 {
        /* margin-left: 20pt; */
        margin-top: 14pt;
        margin-bottom: -12pc;
    }
    
    .btn-secondary {
        text-align: center;
        margin-left: 35%;
    }

    .mainText {
        height: 220pt;
    }

    .progress{
        margin: 10px;
        width: 90%;
        height: 22px;
        background-color: rgb(218, 214, 214);
    }
}

@media (max-width: 575.98px) { 
    .carousel-control-prev, 
    .carousel-control-next {
        margin-top: 420px;
    }

    #name-div {
        margin-left: -6pt;
        margin-top: -5pt;
    }

    #about-text {
        text-align: center;
        font-size: 18px;
        width: 80%;
    }
    
    .btn-secondary {
        text-align: center;
        margin-left: 43%;
        margin-bottom: 10px;
    }

    #meImg1 {
        margin-left: 120pt;
        /* margin-top: 20pt; */
    }

    #meImg2 {
        margin-left: 90pt;
    }

    .skill-section {
        margin-top: 20px;
    }
}


/* Dark mode theme */
    .dark-mode {
        background-color: black;
        color: white;
    }

    .darkModeLightProps{
        color: rgb(255, 255, 255);
        font-weight: 500;
    }

    .darkModeScrollToTop{
        background-color: gray;
        border-color: rgba(255, 255, 255, 0.164);
        border: 2px;
        font-weight: 500;
    }