#templateBody {
    background-image: url('../imgs/rightBG.png');
}

#tag {
    margin-top: -100px;
    margin-left: 15pt;
}

.page-title{
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(73, 73, 73);
    margin-left: 20px;
}
